.navbar__ul {
  width: 100%;
}

/* Seccion principal */

.contentLogo {
  width: 200px;
  height: 60px;
}

.contentInput__div {
  width: 90%;
  height: 30px;
}

.contentInput__input {
  width: 90%;
  height: 100%;
}

.contentInput__icons {
  display: none;
}

.contentButtons {
  width: 100%;
}

/* Footer */

.footer__div {
  padding: 15px 30px;
  border-bottom: 1px solid #3c4043;
  font-size: 1.5rem;
  color: var(--colorFont);
}

.footer__section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-rows: auto;
  padding: 15px 35px;
  row-gap: 20px;
}

.footer__ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.footer__ul:nth-child(1) {
  justify-self: center;
}

.footer__ul:nth-child(2) {
  justify-self: center;
}
